:root {
  /* Good (attention): cyan (hue 180º) */
  --chart-color-good: #00e0ff;
  /* Bad (error): red (hue 0º) */
  --chart-color-bad: #ff2d2d;
  /* Greys */
  --chart-color-grey-dark: #222;
  --chart-color-grey: #888;
  --chart-color-grey-light: #ccc;
  --chart-color-bg: #181a1b;
}

#xp-analytics-chart-area {
  position: relative;
  overflow: hidden;
  transition: height 0.2s ease;
}

.xp-analytics-svg {
  display: block;
  width: 100%;
}
