.dev-mode-widget {
  /* position: fixed; */
  /* bottom: 24px; */
  left: 24px;
  /* background: #1a1a1a; */
  color: #fff;
  padding: 8px 0;
  border-radius: 4px;
  font-family: monospace;
  font-size: 12px;
  /* z-index: 9999; */
  /* max-width: 400px; */
  /* max-height: 600px; */
  /* overflow-y: auto; */
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); */
  /* border: 1px solid #333; */
  top: 96px;
}

.dev-mode-widget__title {
  /* font-weight: bold; */
  /* margin-bottom: 10px; */
  /* padding-bottom: 5px; */
  /* border-bottom: 1px solid #333; */
  text-align: center;
  padding: 4px 8px;
}

.dev-mode-widget__error {
  color: #ff6b6b;
}

.workflow-run {
  margin: 8px 0;
  padding: 8px 12px;
  border-radius: 4px;
  /* background: #202020; */
  cursor: pointer;
  transition: background 0.2s;
  /* backdrop-filter: blur(12px); */
}

.workflow-run--active {
  background: #333;
  border-left: 2px solid var(--chart-color-good);
  /* padding-left: 10px; */
  /* margin-left: -12px; */
}

.workflow-run:hover {
  background: #2a2a2a;
}

.workflow-run__header {
  margin-bottom: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.workflow-run__id {
  color: #66d9e8;
  display: none;
}

.workflow-run__timestamp {
  color: #868e96;
  font-size: 12px;
}

.workflow-run__detail {
  color: #63e6be;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
