* {
  color: #fff;
  font-family: monospace, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
}

select {
    background-color: transparent;
}

.xp-analytics-root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #181a1b;
  padding: 16px;
  box-shadow: 0 0 16px #0004;
}

.xp-analytics-header {
  margin-bottom: 16px;
}
.xp-analytics-header-row {
  display: flex;
  gap: 32px;
  align-items: center;
}
.xp-analytics-label {
  font-size: 16px;
  color: #ccc;
  min-width: 120px;
}
.xp-analytics-select {
  font-size: 16px;
  padding: 4px 8px;
  min-width: 160px;
}
.xp-analytics-view-toggle {
  margin-left: 32px;
  font-size: 16px;
  padding: 4px 16px;
  border-radius: 4px;
  border: none;
  background: #222;
  color: #00e0ff;
  cursor: pointer;
}
.xp-analytics-flex-spacer {
  flex: 1;
}
.xp-analytics-time-range-label {
  font-size: 16px;
  color: #ccc;
  min-width: 120px;
}
.xp-analytics-time-range-input {
  width: 160px;
}
.xp-analytics-chart-area {
  flex: 1;
  width: 100%;
  background: #111;
  border-radius: 4px;
  padding: 16px;
  box-sizing: border-box;
  overflow: hidden;
}

svg {
  width: 100%;
}


input#time-range {
    color: #fff;
    border-color: #fff;
    appearance: none;
    height: 2px;
}
